.intro__inner {
  padding-top: 30px;
  padding-bottom: 110px;
  border-bottom: 1px solid $color-light-gray;
  background: url(/dist/img/intro-bg.png) no-repeat right bottom;

  @media (max-width: 992px) {
    background-size: auto 90%;
  }

  @media (max-width: 768px) {
    background: none;
  }

  @media (max-width: 425px) {
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.intro__about {
  padding-top: 85px;

  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    padding-top: 40px;;
  }

  @media (max-width: 768px) {
    align-items: center;
  }
}

.intro__title {
  margin-bottom: 10px;

  font-size: 45px;
  font-weight: 700;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.intro__title span {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
}

.intro__subtitle {
  margin-bottom: 25px;

  font-size: 18px;
  color: $color-gray;
}

// Intro social
.intro__social {
  margin-bottom: 40px;

  display: flex;
}

.intro__social-link {
  margin-right: 10px;

  width: 41px;
  height: 41px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-white;

  outline: none;

  &:hover, &:focus {
    position: relative;
    top: -3px;
    left: -3px;
    box-shadow: $shadow-btn;
  }

  &:last-child {
    margin-right: 0;
  }
}

// Into Social Fontawesome Icons
.intro__social-link--behance {
  background-color: #1869ff;
}

.intro__social-link--dribble {
  background-color: #e51a68;
}

.intro__social-link--linkedin {
  background-color: #007bb6;
}

.intro__social-link--facebook {
  background-color: #3a5898;
}

.intro__social-link--instagram {
  background-color: #13578a;
}

.intro__social-link--twitter {
  background-color: #56acef;
}

.intro__social-link i {
  font-size: 23px;
}

// Intro Buttons
.intro__buttons {
  display: flex;

  @media (max-width: 425px) {
    flex-direction: column;
  }
}

.intro__buttons .btn__primary {
  margin-right: 15px;

  @media (max-width: 425px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
