// Colors
$color-black: #2b2a2c;
$color-white: #ffffff;
$color-gray: #6a696b;
$color-light-gray: #dedede;
$color-dark-gray: #717072;
$color-darker-gray: #8d8d8e;

// Border
$brd-rad-50: 50%;
$brd-rad-25: 25px;
$brd-rad-18: 18px;
$brd-rad-10: 10px;

// Shadow
$shadow-btn: 4px 4px 8px 0 rgba(0,0,0,0.25);
$shadow-project-item: 0px 0px 5px 0 rgba(0,0,0,0.25);
